<form method="post" action="add">
    Nume: <input type="text" name="nume"><br/>
    Culoare:<input type="text" name="culoare"></br>
    Marime:<input type="text" name="marime"></br>
    Pret:<input type="text" name="pret"></br>
    <input type="submit" value="Add">
</form>